body {
    background-color: #92acab;
    margin: 0;
    padding: 0;
}

/* Contenedor de frases */
.resolution {
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin-top: -70px;
}

.frase-contenedor {
    display: inline-block;
    background-color: #709eae;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 4px 6px 14px rgba(1, 1, 1, 0.30);
    width: 100%;  /* Aseguramos que ocupe el 100% del ancho disponible */
    max-width: 80%; /* Limitamos el tamaño máximo */
    word-wrap: break-word;
    overflow: hidden;
    text-align: left;
}

.frase-contenedor a {
    display: block;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.frase_pc, .frase_tablets, .frase_moviles {
    font-size: 1.5em;
    color: #efece1;
}

/* Ajustes de imagenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Ajustar las imágenes y logotipos */
.logo, .logo-celular {
    position: fixed;
    bottom: 10px;
    right: 10px;
    max-width: 80%;  /* Logotipos más pequeños en dispositivos móviles */
    height: auto;
    z-index: 1000;
}

.contenedor-imagenes-botones {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px; /* Espacio entre los dos bloques */
    margin-top: 100px;
    flex-wrap: wrap; /* Para que en móvil se acomoden uno abajo del otro */
}

.imagen-boton {
    position: relative;
    width: 45%;
    max-width: 250px;
}

.imagen-boton img {
    width: 100%;
    height: auto;
    display: block;
}

.imagen-boton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* capa negra translúcida */
    z-index: 1;
}

.btn-overlay, .btn-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    white-space: normal;
    z-index: 1;
}

.frase-contenedor {
    font-size: 5vw;  /* Ajusta el tamaño de la fuente a un porcentaje del ancho de la ventana */
    line-height: 1.5;  /* Ajuste para mejorar la legibilidad */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Oculta el contenedor de frases inicialmente */
.frase-contenedor {
    display: none;
}

/* Mostrar el contenedor cuando se active */
.frase-contenedor.mostrar {
    display: inline-block;
}

/* Estilo del botón */
.boton-frase {
    text-align: center;
    margin-top: 150px;
}

#mostrarFraseBtn {
    padding: 12px 24px;
    font-size: 1.2em;
    background-color: #3c6e71;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#mostrarFraseBtn:hover {
    background-color: #2a4e51;
}

/* Media queries para pantallas grandes */
@media screen and (min-width: 1024px) {
    .desktop {
        display: block;
    }
    .tablet, .movil {
        display: none;
    }

    .logo-celular {
        display: none;
    }

    .frase-contenedor {
        font-size: 1.8em;
        margin-top: 60px;
    }

    .recordatorio {
        font-size: 2.5em;
    }
}

/* Media queries para tablets */
@media screen and (min-width: 600px) and (max-width: 1023px) {
    .tablet {
        display: block;
    }

    .logo-celular {
        display: none;
    }

    .desktop, .movil {
        display: none;
    }

    .frase-contenedor {
        margin-top: 200px;
        padding: 5px;
    }

    .imagen-boton {
        position: relative;
        width: 45%;
        max-width: 250px;
    }
    
    .imagen-boton img {
        opacity: 0.7;
        transition: opacity 0.3s ease;
        width: 100%;
    }

    .btn-overlay {
        font-size: 25px;
    }
}

/* Media queries para móviles */
@media screen and (max-width: 599px) {
    .movil {
        display: block;
    }
    .desktop, .tablet {
        display: none;
    }

    .frase-contenedor {
        font-size: 0.7em;  /* Ajustar tamaño de la fuente */
        padding: 10px;
        margin-top: 50px;
    }

    .logo-celular {
        display: block;
        top: 89%;
        right: 5%;
    }

    .logo {
        display: none;
    }

    .contenedor-imagenes-botones {
        flex-direction: column;
        align-items: center;
    }

    .imagen-boton {
        width: 60%;
    }

    .btn-overlay {
        font-size: 20px;  /* Ajuste para un mejor tamaño de fuente en móviles */
    }

    .btn-info {
        font-size: 20px;
    }
}
